.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;

    &-title {
        color: #666;
        font-weight: bold;
        font-size: 20px;
    }

    form {
        margin-top: 20px;
    }
}
