.category-manage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    .modes {
        display: flex;
        justify-content: space-between;
        max-width: 600px;
        margin: 10px auto;
    }
}
